<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    {% include "head.html" %}
</head>
<body>
{% include "navbar.html" %}
<div class="col-12 question">

</div>
<br>
<div class="row ms-0 me-0">
    <div class="col-6 options margin-left">

    </div>
    <div class="col-6 options">

    </div>
</div>
<br>
<div class="row ms-0 me-0 pb-2">
    <div class="col-6 options margin-left">

    </div>
    <div class="col-6 options">

    </div>
</div>


</body>
</html>